@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap");
.clock { background-color: transparent; display: grid; grid-template-columns: repeat(13, 1fr); grid-template-rows: repeat(13, 1fr); border: 5px solid #C4D4F2; border-radius: 50%; width: 70vw; height: 70vw; font-size: 18px; box-shadow: 0px 0px 155px 20px #183F8C, inset 0px 0px 155px 20px #183F8C; }

@media screen and (min-width: 650px) { .clock { width: 60vh; height: 60vh; } }

@media screen and (min-width: 1050px) { .clock { width: 80vh; height: 80vh; font-size: 38px; } }

.clock .number { width: auto; height: auto; display: flex; align-items: center; justify-content: center; font-size: 18px; }

@media screen and (min-width: 650px) { .clock .number { font-size: 28px; } }

@media screen and (min-width: 1050px) { .clock .number { font-size: 38px; } }

.clock .one { grid-column-start: 10; grid-row-start: 2; transform: rotate(30deg); }

.clock .two { grid-column-start: 12; grid-row-start: 4; transform: rotate(60deg); }

.clock .tree { grid-column-start: 13; grid-row-start: 7; transform: rotate(0); }

.clock .four { grid-column-start: 12; grid-row-start: 10; transform: rotate(120deg); }

.clock .five { grid-column-start: 10; grid-row-start: 12; transform: rotate(150deg); }

.clock .six { grid-column-start: 7; grid-row-start: 13; transform: rotate(0); }

.clock .seven { grid-column-start: 4; grid-row-start: 12; transform: rotate(210deg); }

.clock .eight { grid-column-start: 2; grid-row-start: 10; transform: rotate(240deg); }

.clock .nine { grid-column-start: 1; grid-row-start: 7; transform: rotate(0); }

.clock .ten { grid-column-start: 2; grid-row-start: 4; transform: rotate(300deg); }

.clock .eleven { grid-column-start: 4; grid-row-start: 2; transform: rotate(330deg); }

.clock .twelve { grid-column-start: 7; grid-row-start: 1; transform: rotate(360deg); }

.clock .center { grid-column-start: 7; grid-row-start: 7; transform: rotate(0); width: 20px; height: 20px; border-radius: 50%; margin: auto auto; z-index: 1000; background-color: #C4D4F2; }

@media screen and (min-width: 650px) { .clock .center { width: 30px; height: 30px; } }

.seconds-container, .minutes-container, .hours-container { display: flex; justify-content: center; }

.seconds, .minutes, .hours { border-radius: 20px; height: 50%; }

.minutes, .hours { width: 6px; }

@media screen and (min-width: 1050px) { .minutes, .hours { width: 10px; } }

.seconds-container { grid-column-start: 7; grid-row-start: 2; transform: rotate(0); grid-row-end: 13; }

.seconds-container .seconds { background-color: #2561D9; width: 3px; }

@media screen and (min-width: 650px) { .seconds-container .seconds { width: 6px; } }

.minutes-container { grid-column-start: 7; grid-row-start: 3; transform: rotate(0); grid-row-end: 12; }

.minutes-container .minutes { background-color: #C4D4F2; }

.hours-container { grid-column-start: 7; grid-row-start: 4; transform: rotate(0); grid-row-end: 11; z-index: 900; }

.hours-container .hours { background-color: #183F8C; }

body { box-sizing: border-box; margin: 0; height: 100vh; background-color: #010D26; font-family: "Rubik"; color: #f2f2f2; font-family: 18px; overflow: hidden; }

@media screen and (min-width: 650px) { body { font-size: 28px; } }

@media screen and (min-width: 1050px) { body { font-size: 38px; } }

.header { font-size: 2rem; background-color: #3B3840; height: 55px; display: flex; align-items: center; justify-content: center; font-family: 18px; }

@media screen and (min-width: 1050px) { .header { font-size: 38px; height: 80px; } }

.main { height: 90%; display: flex; justify-content: center; align-items: center; }
