@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap");
body { box-sizing: border-box; margin: 0; display: flex; justify-content: center; align-items: center; height: 100vh; background-color: #010D26; }

.clock { background-color: transparent; display: grid; grid-template-columns: repeat(13, 1fr); grid-template-rows: repeat(13, 1fr); color: #f2f2f2; border: 5px solid #C4D4F2; border-radius: 50%; width: 80vw; height: 80vw; font-size: 20px; box-shadow: 0px 0px 155px 20px #183F8C, inset 0px 0px 155px 20px #183F8C; }

@media screen and (min-width: 421px) { .clock { font-size: 30px; } }

@media screen and (min-width: 1250px) { .clock { width: 90vh; height: 90vh; font-size: 40px; } }

.clock .number { font-family: "Rubik"; width: auto; height: auto; display: flex; align-items: center; justify-content: center; }

.clock .one { grid-column-start: 10; grid-row-start: 2; }

.clock .two { grid-column-start: 12; grid-row-start: 4; }

.clock .tree { grid-column-start: 13; grid-row-start: 7; }

.clock .four { grid-column-start: 12; grid-row-start: 10; }

.clock .five { grid-column-start: 10; grid-row-start: 12; }

.clock .six { grid-column-start: 7; grid-row-start: 13; }

.clock .seven { grid-column-start: 4; grid-row-start: 12; }

.clock .eight { grid-column-start: 2; grid-row-start: 10; }

.clock .nine { grid-column-start: 1; grid-row-start: 7; }

.clock .ten { grid-column-start: 2; grid-row-start: 4; }

.clock .eleven { grid-column-start: 4; grid-row-start: 2; }

.clock .twelve { grid-column-start: 7; grid-row-start: 1; }

.clock .center { grid-column-start: 7; grid-row-start: 7; width: 60%; height: 60%; border-radius: 50%; margin: auto auto; z-index: 1000; background-color: #C4D4F2; }

.clock .minutes, .clock .hours { -webkit-clip-path: polygon(40% 5%, 60% 5%, 60% 50%, 40% 50%); clip-path: polygon(40% 5%, 60% 5%, 60% 50%, 40% 50%); }

.clock .seconds { grid-column-start: 7; grid-row-start: 2; -webkit-clip-path: polygon(45% 3%, 55% 3%, 55% 50%, 45% 50%); clip-path: polygon(45% 3%, 55% 3%, 55% 50%, 45% 50%); grid-row-end: 13; background-color: #2561D9; }

.clock .minutes { grid-column-start: 7; grid-row-start: 2; grid-row-end: 13; background-color: #C4D4F2; }

.clock .hours { grid-column-start: 7; grid-row-start: 4; grid-row-end: 11; z-index: 900; background-color: #183F8C; }
