<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="shortcut icon", href="favicon.ico", type="image/x-icon")
        link(rel="stylesheet", href="css/styles.css")
        title .: Analog Clock :.
    body
        header.header Analog Clock
        .main
            .clock
                span.number.one l
                span.number.two l            
                span.number.tree 3
                span.number.four l
                span.number.five l
                span.number.six 6
                span.number.seven l
                span.number.eight l
                span.number.nine 9
                span.number.ten l
                span.number.eleven l
                span.number.twelve 12
                #needleSecond.seconds-container
                    .seconds
                #needleMinute.minutes-container
                    .minutes
                #needleHour.hours-container
                    .hours
                .center
        script(src="js/scripts-min.js")