<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="shortcut icon", href="favicon.ico", type="image/x-icon")
        link(rel="stylesheet", href="css/styles.css")
        title .: Analog Clock :.
    body
        header.header Analog Clock
        .main
            .clock
                span.clock__number--one l
                span.clock__number--two l            
                span.clock__number--tree 3
                span.clock__number--four l
                span.clock__number--five l
                span.clock__number--six 6
                span.clock__number--seven l
                span.clock__number--eight l
                span.clock__number--nine 9
                span.clock__number--ten l
                span.clock__number--eleven l
                span.clock__number--twelve 12
                #needleSecond.seconds-container
                    .seconds
                #needleMinute.minutes-container
                    .minutes
                #needleHour.hours-container
                    .hours
                .clock__center
        script(src="js/scripts-min.js")