<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="public/css/styles.css")
        title .: Clock :.
    body
        .clock
            span.number.one 1
            span.number.two 2            
            span.number.tree 3
            span.number.four 4
            span.number.five 5
            span.number.six 6
            span.number.seven 7
            span.number.eight 8
            span.number.nine 9
            span.number.ten 10
            span.number.eleven 11
            span.number.twelve 12
            #needleSecond.seconds
            #needleHour.hours
            #needleMinute.minutes
            .center
        script(src="public/js/scripts-min.js")