body {
    box-sizing: border-box;
    margin: 0;
    height: 100vh;
    background-color: #000;
    font-family: $main-font;
    color: $font-color;
    overflow: hidden;

    @include tablet {
        font-size: $font-size-medium;
    }

    @include laptop {
        font-size: $font-size-big;
    }
}

.header {
    font-size: 2rem;
    background-color: $background;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: $font-size-medium;

    @include laptop {
        font-size: $font-size-big;
        height: 80px;
    }
}

.main {
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}