.clock {
    background-color: transparent;
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    grid-template-rows: repeat(13, 1fr);
    border: 5px solid $primary-color;
    border-radius: 50%;

    width: 70vw;
    height: 70vw;
    box-shadow: 0 0 17px 8px $second-color, inset 0 0 17px 8px $second-color;

    @include tablet {
        width: 60vh;
        height: 60vh;
    }

    @include laptop {
        width: 70vh;
        height: 70vh;
        border: 10px solid $primary-color;
    }

    &__number {
        width: auto;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: $font-size-small;
        text-shadow: 0 0 10px $primary-color;

        @include laptop {
            font-size: $font-size-big;
        }


        &--one {
            @include position(10, 2, 30deg);
        }

        &--two {
            @include position(12, 4, 60deg);
        }

        &--tree {
            @include position(13, 7);
        }

        &--four {
            @include position(12, 10, 120deg);
        }

        &--five {
            @include position(10, 12, 150deg);
        }

        &--six {
            @include position(7, 13);

        }

        &--seven {
            @include position(4, 12, 210deg);

        }

        &--eight {
            @include position(2, 10, 240deg);

        }

        &--nine {
            @include position(1, 7);
        }

        &--ten {
            @include position(2, 4, 300deg);

        }

        &--eleven {
            @include position(4, 2, 330deg);

        }

        &--twelve {
            @include position(7, 1, 360deg);
        }

    }

    &__center {
        @include position(7, 7);
        width: 20px;
        height: 20px;
        border-radius: 50%;
        margin: auto auto;
        z-index: 1000;
        background-color: $primary-color;

        @include tablet {
            width: 30px;
            height: 30px;
        }
    }

}